
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">

        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>


        <div class="col-md-6">
          <button class="btn btn-primary float-left" type="submit" name="button">Publish</button>
        </div>



    </form>

    <form action="/" class="inline">
      <div style="float: right; text-align:right" >
      <div class="col-md-6">
        <button class="btn btn-primary float-right submit-button">Back</button>
      </div>
        <!-- <button class="btn btn-primary float-left submit-button" >Back</button> -->
      </div>
  </form>
<%- include("partials/footer"); -%>
