<%- include("partials/header"); -%>

  <h1><%=title%></h1>
  <p><%=content%></p>
  <form action="/" class="inline">
    <div style="float: left; " >
      <button class="btn btn-primary float-left submit-button" >Back</button>
    </div>

</form>
<%- include("partials/footer"); -%>
